
<div class="container">

  <div class="content">
    <h1>CREAR CONTACTO</h1>

      <label for="txtCedula">Cédula:</label>
      <input type="text" id="txtCedula" [(ngModel)]="contacto.cedula" class="form-control" minlength="10" maxlength="13" placeholder="Cedula"/>
     <br/>
     <label for="txtNombre">Nombre:</label>
     <input type="text" id="txtNombre" [(ngModel)]="contacto.nombre" class="form-control" placeholder="Nombre"/>
     <br/>
     <label for="txtDireccion">Dirección:</label>
     <input type="text" id="txtDireccion" [(ngModel)]="contacto.direccion" class="form-control" placeholder="Direccion"/>
     <br/>
     <br/>

     <button class="btn btn-success" (click)="guardar()" [disabled]="contacto.cedula.length == 0 || contacto.nombre.length == 0 || contacto.direccion.length == 0">SAVE</button>

  </div>
</div>


